<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129802333962-nd9e35s5t5u3sdp0e8cpb717r31ot2k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129802333962-nd9e35s5t5u3sdp0e8cpb717r31ot2k2</string>
	<key>API_KEY</key>
	<string>AIzaSyBHcfgG1U2ddc9nQ9kbGX2eTQ2wUp_ggnk</string>
	<key>GCM_SENDER_ID</key>
	<string>129802333962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paleblueTech</string>
	<key>PROJECT_ID</key>
	<string>paleblue-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>paleblue-tech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129802333962:ios:d7a006ab352960225c94f3</string>
</dict>
</plist>